@import '../_variables'
@import '../_mixins'

.toolbar
	width: 100%
	max-width: 400px
	position: fixed
	top: 0
	left: 50%
	margin-left: -200px
	padding: 15px

.toolbar
	img
		float: left
		margin-top: 4px

	h2
		color: $white
		font-family: HK Grotesk
		font-size: 18px
		font-style: normal
		font-weight: 700
		line-height: 24px /* 133.333% */
		margin: 0
		margin-left: 25px
		display: inline-block

	.search
		width: 100%
		margin-top: 10px

		input
			width: 96%
			margin: auto
			display: block
			padding: 10px
			border: 0
			border-radius: 32px
			background: $secondary-dark-grey
			color: $primary-social-white
			font-family: HK Grotesk
			font-size: 14px
			font-style: normal
			font-weight: 400
			line-height: normal
