@import '../_variables'
@import '../_mixins'

.toolbar
	width: 100%
	max-width: 400px
	height: auto
	max-height: 160px
	position: fixed
	top: 0
	left: 50%
	margin-left: -200px
	padding: 10px 5px 20px 5px
	background: $black
	z-index: 99

.toolbar
	.back
		float: left
		position: relative
		transform: translate(20px, 20px)
		z-index: 9999

	h2
		width: 100%
		color: $primary-social-white
		font-family: $font-hanken-grotesk
		font-size: 14px
		font-style: normal
		font-weight: 700
		text-align: center
		line-height: 24px /* 133.333% */
		letter-spacing: 1.4px
		text-transform: uppercase
		margin: 0
		display: inline-block
		position: relative
		z-index: 999
