@import '../_variables'
@import '../_mixins'

.posts
	width: 90%
	margin: auto
	margin-top: 80px
	padding-top: 10px
	position: relative

	.tags
		width: 90%
		margin: auto
		margin-top: 20px
	
	.tag
		width: auto
		flex-grow: 1
		text-align: center
		color: $primary-social-white
		font-family: HK Grotesk
		font-size: 12px
		font-style: normal
		font-weight: 400
		line-height: normal
		border-radius: 18px
		padding: 5px 10px
		margin: 0 2.5px
		border: 1px $secondary-lighter-gray solid
