@import '../_variables'
@import '../_mixins'

.post-view
    width: 90%
    margin: auto
    margin-top: 65px

    .comments
        width: 90%
        margin: auto
        margin-top: 15px

        h3
            color: $primary-social-white
            font-feature-settings: 'clig' off, 'liga' off
            font-family: HK Grotesk
            font-size: 12px
            font-style: normal
            font-weight: 400
            line-height: 16px /* 133.333% */
            letter-spacing: 1.2px
            text-transform: uppercase

.add-comment
    width: 400px
    position: fixed
    bottom: 0
    left: 50%
    margin-left: -200px
    background: $black
    padding: 10px 0 20px 0

    input
        width: 94%
        margin: auto 2%
        display: block
        padding: 10px 4%
        border: 0
        border-radius: 32px
        background: $secondary-dark-grey
        color: $primary-social-white
        font-family: $font-hanken-grotesk
        font-size: 14px
        font-style: normal
        font-weight: 400
        line-height: normal

    button
        width: 20px
        height: 20px
        position: absolute
        right: 19px
        top: 14px


